@import "~antd/dist/antd.less";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.App {
    // text-align: center;
    font-family: "Poppins", sans-serif;
}
.header-Background {
    // padding: 38px 0 31px 220px;
    background: #16abf8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    .header-title {
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: white;
        padding: 38px 0;
        margin: auto;
        max-width: 1000px;
    }
}

.activity-add-button {
    height: auto;
    background: #16abf8;
    border-radius: 45px;
    padding: 13.5px 29px;
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.dashboard {
    padding: 43px 12px;
    margin: auto;
    max-width: 1000px;
    .activity-title-bar {
        margin-bottom: 80px;
    }
    .activity-title {
        font-weight: 700;
        font-size: 36px;
    }
    .activity-empty-state {
        text-align: center;
    }
    .activity-empty-title {
        margin-top: 30px;
        font-weight: 600;
        font-size: 24px;
        color: #555555;
    }
    .activity-item {
        width: 235px;
        height: 234px;
        border-radius: 12px;
        background: #ffffff;
        padding: 22px 27px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    }
    .activity-item-title {
        height: 158px;
        font-size: 18px;
        font-weight: 700;
        color: #111111;
        border: none;
        padding: 0;
        cursor: pointer;
    }
    .activity-item-date {
        font-weight: 500;
        font-size: 14px;
        color: #888888;
    }
    .activity-item-delete-button {
        border: none;
        color: #888888;
        padding: 0;
    }
    .activity-card-skeleton {
        width: 235px;
        height: 234px;
        border-radius: 12px;
    }
}

.modal-information {
    .ant-modal-content {
        border-radius: 14px !important;
    }
}
.ant-modal {
    .ant-modal-body {
        padding: 0;
    }
    .ant-modal-content {
        border-radius: 25px;
    }
    .modal-header {
        text-align: center;
        padding: 16px;
    }
    .modal-delete-title {
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        padding: 16px;
    }
    .modal-delete-title-accent {
        font-weight: 700;
    }
    .ant-modal-footer {
        text-align: center;
        border: none;
        // padding-bottom: 43px;
        padding: 12px 12px 24px;
    }
    .ant-btn {
        margin: 0 16px;
        height: auto;
        padding: 13.5px 45px;
        border-radius: 45px;
        border: none;
        font-weight: 600;
        font-size: 18px;
    }
    .modal-delete-cancel-button {
        background-color: #f4f4f4;
    }
    .modal-delete-confirm-button {
        background-color: #ed4c5c;
        color: white;
    }
    .modal-information-icon {
        margin-right: 15px;
        height: 24px;
        width: 24px;
    }
    .modal-information-title {
        font-size: 14px;
        font-weight: 500;
        padding: 20px 30px;
    }
}
.item-list {
    padding: 43px 12px;
    margin: auto;
    max-width: 1000px;
    .todo-nav-button {
        height: auto;
        border: none;
        color: #111111;
        padding: 0;
        font-size: 32px;
        margin-right: 32px;
    }
    .todo-title-bar {
        margin-bottom: 80px;
    }
    .todo-title {
        max-width: 500px;
        font-weight: 700;
        font-size: 36px;
        color: #111111;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .todo-input-title {
        width: 516px;
        border-bottom: solid 1px #111111;
        font-weight: 700;
        font-size: 36px;
        color: #111111;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 4px 8px;
    }

    .todo-edit-button {
        height: auto;
        border: none;
        color: #111111;
        padding: 0;
        font-size: 24px;
        margin-left: 20px;
    }

    .todo-add-button {
        height: auto;
        background: #16abf8;
        border-radius: 45px;
        padding: 13.5px 29px;
        font-weight: 600;
        font-size: 18px;
        color: white;
    }
    .todo-empty-state {
        text-align: center;
    }
    .todo-item {
        background: #ffffff;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 24px 30px;
        margin-bottom: 10px;
    }
    .todo-item-skeleton {
        width: 100%;
        height: 80px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        margin-bottom: 20px;
    }
    .item-ghost-button {
        border: none;
        padding: 0;
    }
    .todo-item-delete-button {
        border: none;
        padding: 0;
    }
    .todo-item-title {
        font-weight: 500;
        font-size: 18px;
        color: #111111;
    }
    .todo-item-checkbox {
        height: 20px;
        width: 20px;
        // .ant-checkbox-input {
        // }
    }
}

.tambah-list-item {
    width: 830px;
    height: 403px;
    .ant-modal-content {
        border-radius: 12px !important;
    }
    .ant-modal-header {
        padding: 24px 30px;
        background-color: transparent;
    }
    .ant-modal-title {
        font-weight: 600;
        font-size: 18px;
        color: #111111;
    }
    .ant-modal-footer {
        text-align: end !important;
        border-top: 1px solid #f0f0f0 !important;
    }
    .ant-btn {
        color: white;
    }
    .modal-add-save-button {
        background: #16abf8;
    }
    .button-Disabled {
        background: #16abf8;
        opacity: 0.2;
    }
    .ant-input {
        width: 759px;
        height: 52px;
        border-radius: 6px;
    }
    .ant-modal-body {
        padding: 38px 40px 0 30px;
    }
    label {
        font-weight: 600;
        font-size: 12px;
    }
    .modal-add-priority-dropdown {
        width: 205px;
        // height: 52px;
        font-size: 16px;
    }
    .ant-select-selector {
        .select-checked {
            display: none;
        }
    }
}
